@import "../../variables.module";

.card {
  display: flex;
  flex-direction: column;
  width: 329px;
  background: $white;
  box-shadow: 0 3px 8px $light_grey;
  border-radius: 15px;
  padding: 20px;
  user-select: none;

  .flex_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .bottom {
    justify-self: flex-end;
    margin-top: auto;
  }

  &:hover {
    cursor: pointer;
    box-shadow: 0 5px 10px $grey;
    transition: 0.2s;
  }

  .image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    overflow: hidden;
  }

  img {
    max-width: 100%;
    max-height: 100%;
    user-select: none;
    object-fit: cover;
  }

  .like {
    width: 40px;
    height: 40px;
    align-self: flex-end;

    svg path {
      stroke-width: 1;
      stroke: $light_grey;
    }

    svg:hover {
      cursor: pointer;
    }

    svg:hover path {
      stroke-width: 1.3;
      stroke: $red;
    }
  }

  .liked {
    svg path {
      stroke-width: 0;
    }

    svg {
      fill: $red;
    }
  }

  .star {
    width: 20px;
    height: 20px;
    margin-bottom: auto;

  }
}

.card_btn {
  align-self: flex-end;
  height: 32px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 16px;
  gap: 8px;
  background: #8bc39c;
  border-radius: 5px;
  position: relative;


  &:hover {
    cursor: pointer;
    background-color: $primary_green;
  }

  svg {
    width: 25px;
    height: 22px;

    path {
      stroke: $white;
    }
  }
}

.title {
  margin-bottom: 20px;
  user-select: text;
}

.code {
  font-size: 12px;
  line-height: 15px;
  color: $grey;
}

.like_test {
  //background-image: url("../../logo.svg");
}

.rate {
  display: flex;
  align-items: center;
  gap: 5px;
  align-self: flex-end;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  color: $grey;
}
