.item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;

  p {
    text-align: right;
  }

  .title {
    color: #767676;
    text-align: left;
  }

}

.order_confirm {
  user-select: none;

  .info_wrap {
    width: 500px;
    margin-bottom: 30px;
    text-align: center;
  }
}

.btn {
  padding: 10px;
  border-radius: 5px;
  background-color: #b8b8b8;
  user-select: none;

  &:hover {
    background-color: #807f7f;
    cursor: pointer;
  }

  a {
    color: white;
  }

}

.confirm_btn {
  background-color: #8ac19c;
  color: white;

  &:hover {
    background-color: #548866;
  }
}

.buttons_wrap {
  display: flex;
  justify-content: space-between;
}

.return {
  text-align: center;
  margin: 0 auto;

  a {
    color: #8bc39c;

    &:hover {
      text-decoration: underline;
    }
  }
}

.done_img {
  margin: 0 auto;
  display: block;
  width: 100px;

  svg {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
}