@import "../../variables.module";
.header {
  background: $white;
  box-shadow: 0 0 16.8px 0 $primary_green;
  user-select: none;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;

  .catalogue_btn {
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    background: $primary_green;
    padding: 10px;

    &:hover {
      cursor: pointer;
      background-color: $light_green;
      transition:0.2s;
    }
    &_text {
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
      color: $white;
      margin: 0;
    }
  }

  .header_container, .collapse {
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .left_wrap {
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    width: 33%;
  }

  .search_wrap {
    width: 50%;
    margin-right:  auto;
    padding: 0 20px;

    .search {
      width: 100%;
      margin: 0 auto;
    }
  }

  .icons_wrap {
    margin-left: auto;
  }

  .icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: auto;
    gap: 10px;

    .icon {
      width: 42px;
      height: 42px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;

      &:hover {
        cursor: pointer;
        background-color: $light_green;
      }

      svg {
        width: 35px;
        height: 35px;
        object-fit: cover;

        path {
          stroke: $black;
          stroke-width: 3;
        }
      }
    }

    .user_icon {
      svg {
        path {
          fill: $black;
          stroke-width: 5;
        }
      }
    }

    .heart_icon {
      svg {
        width: 50px;
        height: 45px;

        path {
          fill: $primary_green;
          stroke-width: 5;
          stroke: $primary_green;
        }
      }
    }

    .cart_icon {
      position: relative;

      svg {
        width: 30px;
        height: 28px;

        path {
          stroke-width: 2.5;
        }
      }
    }

  }
}

.catalogue {
  position: absolute;
  top: 120px;
  left: 20%;
  z-index: 3;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  display: flex;

}

.catalogue_categories_wrap {
  border-right: 1px solid grey;
  padding-right: 30px;
}

.catalogue_categorie {
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;

  img {
    width: 30px;
    height: 30px;
  }

  &:hover {
    font-weight: 500;
    cursor: pointer;

    svg {
      rect {
        fill: $black;
      }
    }

    p {
      padding-bottom: 10px;
      border-bottom: 1px solid $grey;
    }
  }

  .logo_wrap {
    margin-right: 270px;
  }

  //.custom_toggler .navbar-toggler{
  //  border: #8DA0FF !important;
  //  background-color: red !important;
  //  &:focus{
  //    border: green;
  //    outline: #727cb3;
  //    box-shadow: none !important;
  //  }
  //}


}

.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  //top: 115px;
  top: 115px;
  left: 0;
  background-color: $dark_grey;
  z-index: 2;

}

.catalogue_items {
  width: 30vw;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}


/* 992px - 1200px */
@media screen and (max-width: 1200px) {

}

/* 768px - 992px */
@media screen and (max-width: 992px) {
  .collapse {
    //background-color: lightgrey;
    flex-direction: column-reverse;
    padding: 10px 5px;


  }
  .left_wrap{
    flex-grow: 2;
  }
  .logo_wrap {
    margin-right: 0;
  }
  .header .search_wrap{
    width: 100%;
    margin-left: auto;
    padding: 10px;
    .search{
      width: 100%;
    };
  }

}


/* 576px - 768px */
@media screen and (max-width: 768px) {
  .catalogue_items{
    display: none;
  }
  .catalogue_categories_wrap{
    border: none;
    padding-right: 0;
  }
  .catalogue{
    left: 50%;
    transform: translateX(-50%);
  }
}

/* 320px - 576px */
@media screen and (max-width: 576px) {

}