.header {
  background-color: #a8b1e7;
  user-select: none;

  .catalogueBtn {
    display: flex;
    align-items: center;
    gap: 20px;
    background: none;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid white;

    &:hover {
      cursor: pointer;
      background-color: rgba(216, 217, 231, 0.56);
      border: 1px solid rgba(216, 217, 231, 0.56);
    }
  }

  .catalogue_text {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    margin: 0;
  }

  .header_container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
  }

  .icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 15%;

    .icon {
      width: 42px;
      height: 42px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;

      &:hover {
        cursor: pointer;
        background-color: rgba(216, 217, 231, 0.56);
      }

      img {
        width: 35px;
        height: 40px;
      }

      svg {
        max-width: 35px;
        max-height: 35px;
        object-fit: cover;
      }
    }
  }
}

.catalogue {
  position: absolute;
  top: 100px;
  left: 20%;
  z-index: 3;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  display: flex;

}

.catalogue_categories_wrap {
  border-right: 1px solid grey;
  padding-right: 30px;
}

.catalogue_categorie {
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;

  img {
    width: 30px;
    height: 30px;
  }

  &:hover {
    font-weight: 500;
    cursor: pointer;

    svg {
      rect {
        fill: #272929;
      }
    }

    p {
      padding-bottom: 10px;
      border-bottom: 1px solid #c0c0c0;

    }
  }


}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 90px;
  left: 0;
  background-color: rgba(29, 29, 29, 0.8);
  z-index: 2;
  overflow-x: hidden;

}

.catalogue_items {
  width: 30vw;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}