.menu_wrap{
  position: absolute;
  right: 50px;
  z-index: 3;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  min-width: 200px;
  max-width: 1600px;
  margin: 0 auto;
  top: 120px;
  a{
    text-decoration: none;
    color: black;
  }
  p:not(:last-of-type){
    margin-bottom: 15px;
  }
  p:hover {
    cursor: pointer;
    font-weight: bold;
  }
}

.overlay {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 114px;
  left: 0;
  background-color: rgba(29, 29, 29, 0.8);
  z-index: 2;
  overflow-x: hidden;
}
@media screen and (max-width: 992px) {
  .menu_wrap {
    top: 320px;

  }
  //.overlay {
  //  top: 305px;
  //
  //}

}