.like {
  width: 40px;
  height: 40px;
  align-self: flex-end;

  svg path {
    stroke-width: 1;
    stroke: #767676;
  }

  svg:hover {
    //fill: #cf1a1b;
    cursor: pointer;
  }

  svg:hover path {
    stroke-width: 1.3;

    stroke: #b91111;

  }

}

.liked {
  svg path {
    stroke-width: 0;
  }

  svg {
    fill: #cf1a1b;
  }
}
