
.overlay div{
  top: 0;
  z-index: 4;
}

.modal_wrap {
  position: fixed;
  z-index: 4;
  background-color: #fff;
  padding: 15px 30px;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

@media screen and (max-width: 992px) {

  .modal_wrap {
    top: 550px;
  }
}

/* 576px - 768px */
@media screen and (max-width: 768px) {
  .wrap {
    height: 400px;
  }
}

/* 320px - 576px */
@media screen and (max-width: 576px) {

}