
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(29, 29, 29, 0.8);
  z-index: 4;
  overflow-y: hidden;

}

.modal_wrap {
  position: absolute;
  z-index: 4;
  background-color: #fff;
  padding: 15px 30px;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

@media screen and (max-width: 992px) {

  .modal_wrap {
    top: 550px;
  }
}

/* 576px - 768px */
@media screen and (max-width: 768px) {
  .wrap {
    height: 400px;
  }
}

/* 320px - 576px */
@media screen and (max-width: 576px) {

}