@import "../../variables.module";

.order_item_wrap {
  background-color: $white;
  border-radius: 10px;
  margin-bottom: 20px;
  font-size: 18px;

  p {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  .main_info_wrap {
    justify-content: space-around;
    padding: 30px;
    position: relative;
    user-select: none;
    border-radius: 10px;

    &:hover {
      outline: 1px solid $light_green;
      cursor: pointer;
    }
  }

  .image {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    img {
      max-width: 90%;
      max-height: 90%;
      object-fit: cover;
    }
  }

  .flex_wrap {
    display: flex;
    align-items: center;
  }

  .circle {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: $orange;
    flex-shrink: 0;
  }

  .status {
    display: flex;
    gap: 15px;
    color: $orange;
    align-items: center;


  }

  .date {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 14px;
    color: grey;
  }
}

.details {
  border-top: 1px solid $light_green;
  padding: 20px 0;


  .name, .title {
    font-weight: normal;
    font-size: 16px;
    margin-bottom: 15px;
  }

  .name:hover {

    color: $primary_green;

  }
}

.details_wrapper {
  padding: 0 30px;
}

.details_item_wrap {
  gap: 20px;
  font-size: 16px;
  margin-bottom: 20px;

  .title {
    flex-basis: 45%;
    margin: 0 auto;
  }

  .flex_end {
    width: 30%;
    gap: 20px;
    margin-left: auto;
    justify-content: space-between;

    p {
      width: 30%;
    }
  }
}
