@import "../../variables.module";
.active{
  font-weight: bold;
}
.link{
  display: block;
  margin-bottom: 15px;
  background-color: $white;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  user-select: none;
}
.navbar{
width: 250px;
  justify-self: flex-start;
  padding: 15px;
  background-color: $bg_green;
  height: 100vh;
}