.active{
  font-weight: bold;
}
.link{
  display: block;
  margin-bottom: 15px;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}
.navbar{
width: 250px;
  justify-self: flex-start;
  padding: 15px;
  background-color: #f4f6ff;
  height: 100vh;
}