.ask_to_auth {
  //max-width: 280px;
  margin: 0 auto;
  padding: 25px;
  text-align: center;
  user-select: none;
  font-size: 18px;
  //position: relative;

  .background {
    max-width: 1900px;
    margin: 0 auto;

    img {
      width: 100%;
      filter: opacity(50%)
    }
  }

  img {
    display: block;
    width: 250px;
    margin: 0px auto 10px;
  }
  .lock_wrap{
    top: 20%;
    left: 50%;
    transform: translatex( -50%);
    position: absolute;
  }

  span {
    color: #84b693;
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

}