
@import "../../../variables.module";
.ask_to_auth {
  margin: 0 auto;
  padding: 25px;
  text-align: center;
  user-select: none;
  font-size: 18px;

  .background {
    max-width: 1900px;
    margin: 0 auto;

    img {
      width: 100%;
      filter: opacity(50%)
    }
  }

  img {
    display: block;
    width: 250px;
    margin: 0 auto 10px;
  }
  .lock_wrap{
    top: 20%;
    left: 50%;
    transform: translatex( -50%);
    position: absolute;
  }

  span {
    color: $primary_green;
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

}