.ask_to_auth{
  max-width: 280px;
  margin: 0 auto;
  padding: 25px;
  text-align: center;
  img {
    display: block;
    width: 150px;
    margin: 0 auto 10px;
  }
  span{
    color: #727cb3;
    &:hover{
      cursor: pointer;
      text-decoration: underline;
    }
  }
  user-select: none;
  font-size: 18px;
}