@import "../../variables.module";
.breadcrumbs {
  padding: 20px;
  a {
    color: $text_dark;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

   .active {
    font-weight: bold
  }
}
