@import "../../../variables.module";
.like {
  display: flex;
  align-items: center;
  gap: 10px;
  user-select: none;

  &:hover {
    cursor: pointer;

    p {
      color: $grey;
      font-size: 17px;
    }

    svg {
      //fill: #cf1a1b;
      cursor: pointer;
    }

    svg path {
      stroke-width: 1.3;
      stroke: $red;

    }
  }

  svg {
    width: 40px;
    height: 40px;

  }

  svg path {
    stroke-width: 1;
    stroke: $grey;
  }


}

.liked {
  svg path {
    stroke-width: 0;
  }

  svg {
    fill: $red;
  }
}

.like_btn_wrap {
  display: flex;
}