@import "../../../variables.module";

.login {
  form {
    margin: 0 auto;
    user-select: none;

    input {
      width: 300px;
      outline: none;
      border: none;
      border-bottom: 1px solid $light_green;
      padding: 10px;
      margin-bottom: 10px;

    }
  }
  .error {
    input {

      border: 1px solid $red;
      border-radius: 5px;
    }
    .error_text{
      color: $red;
    }
  }

  h3{
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 10px;
  }

  .submit {
    input {
      margin-top: 15px;
      border: none;
      border-radius: 5px;
      background-color: $primary_green ;
      color: $white;
      font-size: 16px;
      &:hover{
        background-color: $light_green;
        transition: 0.2s;
        cursor: pointer;
      }
    }

  }
  .close{
    margin-left: auto;
    
    display: block;
    svg {
      &:hover{
        scale: 1.3;
        cursor: pointer;
      }
    }
  }
}
.google{

  button{
    border-radius: 5px;
    padding: 8px;
    width: 100%;
    color: $text_dark;
    background-color: $white;
    box-shadow: 0 1px 2px 1px $light_grey;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
      margin-right: 8px;
      width: 20px;
      display: block;

    }
    &:hover{
      cursor: pointer;
      box-shadow: 0 2px 3px 2px $light_green;

    }
  }
  .or_container {
    align-items: center;
    color: $grey;
    display: flex;
    margin: 25px 0;
  }
  .line_separator {
    background-color: $grey;
    flex-grow: 5;
    height: 1px;
  }
  .or_label {
    flex-grow: 1;
    margin: 0 15px;
    text-align: center;
  }
}
.register_link{
  padding-bottom: 10px;
  margin-top: 10px;
  text-align: center;
  span{
    color: $primary_green;
    &:hover{
      //display: inline-block;
      //padding-bottom:4px ;
      //border-bottom: 1px solid grey;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
