
.card {
  display: flex;
  flex-direction: column;
  width: 329px;
  background: #FFFFFF;
  box-shadow: 0px 3px 8px rgba(122, 122, 122, 0.14);
  border-radius: 15px;
  padding: 20px;

  &:hover {
    cursor: pointer;
    box-shadow: 0px 5px 10px rgba(122, 122, 122, 0.31);

    transition: ease-in-out;

  }

  img {
    width: 262px;
    user-select: none;
  }

  .like {
    width: 40px;
    height: 40px;
    align-self: flex-end;

    svg path {
      stroke-width: 1;
      stroke: #767676;
    }

    svg:hover {
      //fill: #cf1a1b;
      cursor: pointer;
    }

    svg:hover path {
      stroke-width: 1.3;

      stroke: #b91111;

    }

  }

  .liked {
    svg path {
      stroke-width: 0;
    }

    svg {
      fill: #cf1a1b;
    }
  }

  .star {
    width: 20px;
    height: 20px;
  }
}

.items_wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: 30px;
  justify-content: center;
}

.rate {
  display: flex;
  align-items: center;
  gap: 5px;
  align-self: flex-end;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;

  color: #767676;
}

.card_btn {
  align-self: flex-end;

  height: 32px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 16px;

  background: #cf1a1b;
  border-radius: 5px;


  &:hover {
    cursor: pointer;
    background-color: rgba(207, 26, 27, 0.69);
  }

  svg {
    width: 30px;
    height: 25px;
  }

}

.title {
  margin-bottom: 20px;
}

.flex_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.code {
  font-size: 12px;
  line-height: 15px;
  color: #A5A5A5;
}

.like_test {
  background-image: url("../../logo.svg");
}