@import "../../variables.module";

.sort {
  user-select: none;

}

.sort__label {
  background: $white;
  border: 1px solid $light_green;
  border-radius: 5px;
  padding: 10px;
  color: $text_dark;
  min-width: 200px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 3px;

  &:hover {
    border: 1px solid $primary_green;
    cursor: pointer;
  }

  svg {
    width: 20px;

    path {
      fill: $light_green;
    }
  }
}
.sort_popup ul{
  padding: 0;
}
.sort_popup li {
  background: $bg_green;

  border-radius: 5px;
  text-align: center;
  border-bottom: 1px solid $white;
  padding: 10px;

  &:hover {
    border: 1px solid $primary_green;
    cursor: pointer;
  }

}

.sort_popup .active {
  font-weight: bold;
}
