@import "../../variables.module";

.order_form_wrapper {
  margin: 5px auto;
  padding: 15px 15px 50px;

  h3 {
    margin: 10px 0;
  }

  .items_wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    row-gap: 10px;
  }

  .section {
    width: 100%;
    border: 1px solid $light_green;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;

    .text {
      margin-bottom: 10px;
    }
  }

  .item {
    width: 32%;
  }

  input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid $light_grey;
    outline: none;
    &:focus{
      border: 2px solid $light_green;
    }
    &:hover {
      transition: 0.2s;
      cursor: pointer;
      border: 1px solid $grey;
    }
  }

  .title {
    margin-bottom: 15px;
  }

  .delivery {
    .items_wrap {
      justify-content: space-between;

    }

    .item {
      width: 45%;
      font-size: 16px;
    }

    input {
      width: 100%;

    }
  }

  .btn_wrap {
    display: flex;
    justify-content: flex-end;
  }

  .submit {
    background-color: $primary_green;
    color: $white;
    padding: 10px;
    border-radius: 5px;
    margin-top: 15px;
    font-size: 18px;
    user-select: none;

    &:hover {
      background-color: $light_green;
      transition: 0.2s;
      cursor: pointer;
    }
  }
}

.select {
  font-size: 16px;
  border: 1px solid $light_grey;
  padding: 4px;
  &:hover {
    transition: 0.2s;
    border: 1px solid $grey;
    cursor: pointer;
  }

}
.focused{
  border: 2px solid $light_green;
  box-shadow: none;
}
 .error, .phone_error input{
  border: 1px solid $red !important;
}

