@import "../../variables.module";
.categories {
  background-color: $bg_green;
  width: 300px;
  padding: 15px;
  margin: 15px;
  border-radius: 5px;
  height: 100vH;

  &_wrap {
    border-radius: 5px;
    background-color: $white;
    padding: 12px;
  }

  .category {
    padding: 10px;
    max-height: 300px;
    user-select: none;
    border-bottom: $light_green 1px solid;
    display: flex;
    gap: 5px;
    justify-content: space-between;
    align-items: center;

    svg {
      width: 10px;

      path {
        fill: $primary_green;
      }
    }
    &:hover{
      font-weight: bold;
      cursor: pointer;
      svg {
        width: 11px;

        path {
          fill: $dark_grey;
        }
      }
    }
  }

  .title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 768px) {
  .categories{
    width: 90%;
    margin: 0 auto;
    height: auto;
  }
}
