$white: #FFF;
$primary_green: #8CC59C;
$light_green: #d6eadd;
$bg_green: #eef5eb;
$dark_bg_green: #558966;
$black: #000;
$dark_grey: #272929;
$grey: #c0c0c0;
$light_grey: #ddd;
$red: #db2a2a;
$text_dark: #212323;
$text_grey: #808080;
$yellow: #f0d265;
$orange: #FFA500FF;
