@import "../../variables.module";
.pagination{
  user-select: none;
  margin-top: auto;
  li:hover{
    cursor: pointer;
    a{
      color: $primary_green;
    }
  }
  li a{
    color: $grey;
  }
.active a{
  background-color: $primary_green;
  border: 1px solid $primary_green;
  &:hover{
    color: $white;

  }
}
}