.flex_wrap {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  min-height: 80vh;
}

.mob_wrapper {
  display: none;
}


/* 576px - 768px */
@media screen and (max-width: 768px) {
  .category_page_wrap {
    display: none;
  }
  .mob_wrapper {
    display: block;

    .header {
      display: flex;
      gap: 20px;
      padding: 10px 25px;
    }

    .icon {
      padding: 7px;

    }

    .active, .icon:hover {
      background-color: #edeffd;
      border-radius: 10px;
      cursor: pointer;
    }

    .icon img {
      width: 35px;
      height: 35px;
    }
  }

}
