@import "../../variables.module";
.catalogue_item {
  width: 120px;
  flex-wrap: wrap;
  height: 110px;
  box-sizing: border-box;
  padding: 5px;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-shrink: 0;

   img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }


  &:hover {
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 2px 2px 5px $light_grey;
  }
}
.catalogue_items{
  gap: 10px;
}
@media screen and (max-width: 767px) {

  .catalogue_items{
    display: none;
  }
}